<div class="boardinfo">
	<div class="boardtitle">
		자유게시판
	</div>
	<div class="boardnav">
		홈 > 자유게시판
	</div>
</div>
<div class="listWrapper">

	<table>
		<thead>
			<tr>
				<th class="tblno">No</th>
				<th>제목</th>
				<th class="tblinfo">작성자</th>
				<th class="tblinfo">작성일</th>
			</tr>
		</thead>
		<tbody ng-repeat = 'freetalk in freetalkList'>
			<tr>
				<td>{{$index+1}}</td>
				<td><a href="{{boardinfo[0].id}}#!/freetalk/{{freetalk.id}}">{{freetalk.title}}</a></td>
				<td class="tblinfo">{{freetalk.nickname}}</td>
				<td class="tblinfo">{{freetalk.create_date|date:"MM.dd"}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="pager">
	<ul class="idxWrapper">
		<li>
			<a href="" ng-click="FreetalkList(1)"><<</a>
		</li>
		<li ng-repeat="idx in pageIndex">
			<a href="" ng-click="listMaker(idx)">
				{{idx}}
			</a>
		</li>
		<li>
			<a href="" ng-click="FreetalkList(lastPage)">>></a>
		</li>
	</ul>
</div>
<div class="listfooter">
	<a href="{{boardinfo[0].id}}#!/newfreetalk" class="btn btn-default">새글 작성</a>
</div>
<link href="../css/board/customlist.less" rel="stylesheet/less" type="text/css" />
<script type="text/javascript" src="../js/less.min.js"></script>