<input type="hidden" value="{{userinfo.nickname}}" ng-model="freetalkVO.nickname">
<h4>제목</h4>
<input type="text" class='form-control' ng-model="freetalkVO.title">
<h4>내용</h4>
<textarea class='form-control' cols='40' rows='10' ng-model='freetalkVO.content'></textarea>

<a href="{{boardinfo[0].id}}#!/freetalk" class="btn btn-default">취소</a>
<button type="button" class="btn btn-primary" ng-click="CreateFreetalk(freetalkVO)">글작성</button>

<script type="text/javascript" src="../js/less.min.js"></script>