<div class="boardinfo">
	<div class="boardtitle">
		자유게시판
	</div>
	<div class="boardnav">
		홈 > 자유게시판
	</div>
</div>
<div class="readtitle">
	{{freetalkone.title}}
</div>
<div class="readinfo">
	<div class="readnickname">
	작성자 :	{{freetalkone.nickname}}
	</div>
	<div class="readdate">
		{{freetalkone.create_date|date:"yy.MM.dd hh:mm"}}
	</div>
</div>
<div class="readcontent">
	{{freetalkone.content}}
</div>
<div class="btnboxwrapper">
	<div class="btnbox">
		<a href="{{boardinfo[0].id}}#!/freetalk" class="btn btn-default">목록</a>
		<a href="{{boardinfo[0].id}}#!/newfreetalk/{{freetalkone.id}}" class="btn btn-default">수정</a>
		<button class="btn btn-default" ng-click="DelFreetalk(freetalkone.id)">삭제</button>
	</div>
</div>

<div class="commentwrapper">
	<div class="commentlabel">
		Comments
	</div>
	<div class="commentbox">
		<div class="comment">
			<input type="hidden" name="board_type" value="freetalk" ng-model="commentVO.board_type">
			<input type="hidden" name="parents_id" value="{{freetalkone.id}}" ng-model="commentVO.parents_id">
			<textarea name="comment" class="comment_textarea" ng-model="commentVO.comment"></textarea>
		</div>
		<div class="commentbtn">
			<button type="button" class="btn btn-default" ng-click="CreateCommit(commitVO)">댓글등록</button>
		</div>
	</div>
</div>

<link href="../css/board/customread.less" rel="stylesheet/less" type="text/css" />
<script type="text/javascript" src="../js/less.min.js"></script>