<link rel="stylesheet" type="text/css" href="../css/board/userauth/userauth.css">
	<div class="applytitle">
		<p>
			가입 신청 리스트
		</p>
	</div>
	<table>
		<thead>
			<tr>
				<td class="authid">UserID</td>
				<td>Email</td>
				<td>희망ID</td>
				<td>신청일</td>
				<td class="authbtn">확인</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in userList">
				<td>{{user.username}}</td>
				<td>{{user.useremail}}</td>
				<td>{{user.nickname}}</td>
				<td>{{user.apply_date|date:"MM.dd"}}</td>
				<td>
					<input type="button" class="btn btn-default" ng-click="allowGuest(user.id)" value="허가">
					<input type="button" class="btn btn-default" ng-click="rejectGuest(user.id)" value="거절">
				</td>
			</tr>
		</tbody>
	</table>