.titlewrapper{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: gray;
	margin: 20px 0px;
}
.joinLabel{
	font-size: 20px;
	font-weight: bold;
}
.joinTitleWrapper{
	margin-top: 20px;
	.jointitle{
		background-color: #F6F6F6;
		padding : 20px;
		margin-top : 20px;
	}
}
.joinDesWrapper{
	margin-top: 20px;
	.joinDes{
		background-color: #F6F6F6;
		padding : 20px;
		margin-top : 20px;
	}
}
.applyWrapper{
	margin-top: 20px;
	overflow: hidden;
	.applyLabel{
		float: left;
	}
	.applyBtn{
		float: right;
	}
}

