<div class="boardinfo">
	<div class="boardtitle">
		스케쥴
	</div>
	<div class="boardnav">
		홈 > 스케쥴
	</div>
</div>
<div class="readtitle">
	{{scheduleVO.title}}
</div>
<div class="readinfo">
	<div class="readnickname">
	작성자 :	{{scheduleVO.nickname}}
	</div>
	<div class="readdate">
		{{scheduleVO.create_date|date:"yy.MM.dd hh:mm"}}
	</div>
</div>
<div class="readcontent">
	<div class="infoLabel">
		스터디 장소
	</div>
	<div class="place infodata">
		{{scheduleVO.place}}	
	</div>
	<div class="infoLabel">
		모임 시간
	</div>
	<div class="gathering_time infodata">
		{{scheduleVO.gathering_time|date:"yy.MM.dd hh:mm" }}
	</div>
	<div class="infoLabel">
		총 비용
	</div>
	<div class="t_cost infodata">
	  {{scheduleVO.t_cost}}
	</div>
	<div class="infoLabel">
		개인 지불 비용
	</div>
	<div class="e_cost infodata">
	  {{scheduleVO.t_cost}}
	</div>
</div>
<div class="btnboxwrapper">
	<div class="btnbox">
		<a href="{{boardinfo[0].id}}#!/schedule" class="btn btn-default">목록</a>
		<a href="{{boardinfo[0].id}}#!/newschedule/{{scheduleVO.id}}" class="btn btn-default">수정</a>
		<button class="btn btn-default" ng-click="DelSchedule(scheduleVO.id)">삭제</button>
	</div>
</div>

<div class="commentwrapper">
	<div class="commentlabel">
		Comments
	</div>
	<div class="commentList" ng-repeat="comment in commentList">
		<div class="commentOne_info">
			<span class="comment_name">
			{{comment.nickname}} 
			</span>
			<span class="comment_date">
				{{comment.create_date|date:"yy.MM.dd hh:mm"}}
			</span>
		</div>
		<div class="commentOne_comment">
			{{comment.comment}}
		</div>
	</div>
	<div class="commentbox">
		<div class="comment">
			<textarea name="comment" class="comment_textarea" ng-model="commentVO.comment"></textarea>
		</div>
		<div class="commentbtn">
			<button type="button" class="btn btn-default" ng-click="CreateComment(commentVO)">댓글등록</button>
		</div>
	</div>
</div>

<link href="../css/board/schedule/scheduleread.css" rel="stylesheet" type="text/css" />
