<div class="boardinfo">
	<div class="boardtitle">
		공지사항
	</div>
	<div class="boardnav">
		홈 > 공지사항
	</div>
</div>
<div class="listWrapper">

	<table>
		<thead>
			<tr>
				<th class="tblno">No</th>
				<th>제목</th>
				<th class="tblinfo">작성자</th>
				<th class="tblinfo">작성일</th>
			</tr>
		</thead>
		<tbody ng-repeat = 'notice in noticeList'>
			<tr>
				<td>{{$index+1}}</td>
				<td><a href="{{boardinfo[0].id}}#!/notice/{{notice.id}}">{{notice.title}}</a></td>
				<td class="tblinfo">{{notice.nickname}}</td>
				<td class="tblinfo">{{notice.create_date|date:"MM.dd"}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="listfooter">
	<div class="footer_left">
		<select class="form-control" name="type" ng-model="type">
        <option value="title">제목</option>
        <option value="content">내용</option>
        <option value="nickname">작성자</option>
      </select>
		<input class="form-control" type="text" name="search" ng-model="search" placeholder="검색어를입력하세요">
		<button class="btn btn-default" type="button" ng-click="ListSearch()">search</button>
	</div>
	<div class="footer_right">
		<a href="{{boardinfo[0].id}}#!/newnotice" class="btn btn-default">새글 작성</a>
	</div>
</div>


<div class="pager">
	<ul class="idxWrapper">
		<li>
			<a href="" ng-click="NoticeList(1,type,search)"><<</a>
		</li>
		<li ng-repeat="idx in pageIndex">
			<a href="" ng-click="listMaker(idx,type,search)">
				{{idx}}
			</a>
		</li>
		<li>
			<a href="" ng-click="NoticeList(lastPage,type,search)">>></a>
		</li>
	</ul>
</div>

	<link href="../css/board/customlist.less" rel="stylesheet/less" type="text/css" />
	<script type="text/javascript" src="../js/less.min.js"></script>